body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #434a54;
}

.page {
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
}

.container {
    position: fixed;
    overflow-y: hidden;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: #ffffff;
    transition: all 1s ease;
    color: white;
}

.current-container {
    overflow-y: hidden;
}

.pre-container {
    transform: translateY(-100%);

}

.next-container {
    transform: translateY(100%);
}

.control {
    position: fixed;
    width: 20px;
    right: 150px;
    top: 50%;
    transform: translateY(-50%);
}

.control ul {
    position: relative;
}

.control ul li {

    width: 100px;
    position: relative;
    text-align: right;
    margin-right: 30px;
    color: #00bfa5;
    transition: all 1s linear;
}

.control ul li:hover {
    color: white;
}

.control ul .hover {
    animation: control-tips 2s linear;
    color: #00bfa5;
}

.control ul .hoverNoText {

}

.control ul li:hover:after, .control ul .hover:after, .control ul .hoverNoText:after {
    width: 16px;
    height: 16px;
    transform: translateX(15px);
}

.control ul li:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    transition: all .5s ease;
    transform: translateX(18px);
}

.control li + li {
    margin-top: 30px;
}

.toolbar {
    height: 300px;
    width: 100%;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .4);
}

.title {
    text-align: center;
    font-size: 40px;
    position: absolute;
    margin-top: 0;
    width: 100%;
}

.toolbar .title h2 {
    margin-top: 100px;
    width: 100%;
    line-height: 80px;
    text-align: center;
}

.toolbar .toggle-wrap {
    position: absolute;
    width: 100%;
}

.toggle {
    width: 250px;
    height: 30px;
    /*border-radius: 15px;*/
    margin: 240px auto;
    /*border: 2px solid #f5f5f5;*/
}

.toggle input[type=radio] {
    visibility: hidden;
    height: 0px;
    width: 0px;
}

.toggle input + label {
    opacity: .5;
    text-align: center;
    transition: all .3s;
}

.toggle input + label:nth-child(2) {
    margin-left: 2px;
}

.toggle input:checked + label {
    font-size: 20px;
    color: #f5f5f5;
    opacity: 1;
}

.work {
    background: #cddc39;
}

.work .title {

}

/*.work div h2 {*/
/*height: 60px;*/
/*margin-left: 30px;*/
/*text-align: left;*/
/*line-height: 60px;*/
/*font-size: 30px;*/
/*}*/

/*.icon .github-icon path {*/
/*fill: #ffffff;*/
/*transition: fill .4s ease;*/
/*}*/

/*.icon:hover .github-icon path {*/
/*fill: #8a8a8a*/
/*}*/
/*.icon .weibo-icon path {*/
/*fill: #ffffff;*/
/*transition: fill .4s ease;*/
/*}*/

/*.icon:hover .weibo-icon path {*/
/*fill: #d81e06*/
/*}*/
/*.icon .zhihu-icon path {*/
/*fill: #ffffff;*/
/*transition: fill .4s ease;*/
/*}*/

/*.icon:hover .zhihu-icon path {*/
/*fill: #1296db*/
/*}*/

@keyframes control-tips {
    0% {
        color: #00bfa5;
    }
    50% {
        color: #ffffff;
    }
    100% {
        color: #00bfa5;
    }
}