body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;    color: #434a54;
}

.page {
    color: white;
}

.container {
    position: fixed;
    height: 100%;
    width: 100%;
    background: #ffffff;
    transition: all 1s ease;
    color: white;
}

.pre-container {
    transform: translateY(-100%);

}

.next-container {
    transform: translateY(100%);
}

.control {
    position: fixed;
    width: 20px;
    right: 150px;
    top: 50%;
    transform: translateY(-50%);
}

.control ul {
    position: relative;
}

.control ul li {

    width: 100px;
    position: relative;
    text-align: right;
    margin-right: 30px;
    color: #00bfa5;
    transition: all 1s linear;
}

.control ul li:hover {
    color: white;
}

.control ul .hover {
    animation: control-tips 2s linear;
    color: #00bfa5;
}

.control ul .hoverNoText {

}

.control ul li:hover:after, .control ul .hover:after, .control ul .hoverNoText:after {
    width: 16px;
    height: 16px;
    transform: translateX(15px);
}

.control ul li:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    transition: all .5s ease;
    transform: translateX(18px);
}

.control li + li {
    margin-top: 30px;
}

.title {
    text-align: center;
    font-size: 40px;
    margin-top: 100px;
}

.work {
    background: #cddc39;
}

.work .title {

}

/*.work div h2 {*/
/*height: 60px;*/
/*margin-left: 30px;*/
/*text-align: left;*/
/*line-height: 60px;*/
/*font-size: 30px;*/
/*}*/

/*.icon .github-icon path {*/
/*fill: #ffffff;*/
/*transition: fill .4s ease;*/
/*}*/

/*.icon:hover .github-icon path {*/
/*fill: #8a8a8a*/
/*}*/
/*.icon .weibo-icon path {*/
/*fill: #ffffff;*/
/*transition: fill .4s ease;*/
/*}*/

/*.icon:hover .weibo-icon path {*/
/*fill: #d81e06*/
/*}*/
/*.icon .zhihu-icon path {*/
/*fill: #ffffff;*/
/*transition: fill .4s ease;*/
/*}*/

/*.icon:hover .zhihu-icon path {*/
/*fill: #1296db*/
/*}*/

@keyframes control-tips {
    0% {
        color: #00bfa5;
    }
    50% {
        color: #ffffff;
    }
    100% {
        color: #00bfa5;
    }
}