/*.container {*/
    /*!*position: fixed;*!*/
    /*height: 100%;*/
    /*width: 100%;*/
    /*background: #ffffff;*/
    /*transition: all 1s ease;*/
    /*color: white;*/
/*}*/

.introduction {
    background: #f6f8fa;
    color: #434a54;
}

.introduction .introduction-bg {
    width: 100%;
    height: 200px;
    background: #2196f3;
}

#profile-img-wrap {
    width: 150px;
    height: 150px;
    margin: auto;
    margin-top: -75px;
}

#profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #2196f3;
}

.profile .profile-name {
    color: #434a54;
    font-weight: 500;
    text-align: center;
    font-size: 40px;
    margin-top: 35px;
    opacity: 0;
    /*text-shadow: 1px 2px #bfbfbf, 3px 4px #515151;*/
}

.profile .profile-introduction {
    color: #434a54;
    font-weight: normal;
    text-align: center;
    margin-top: 30px;
    opacity: 0;
}

.profile .profile-purpose {
    color: #434a54;
    font-weight: normal;
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    opacity: 0;
}

.circle {
    fill: transparent;
    stroke-width: 1px;
    position: relative;
    stroke-dasharray: 0 200;
    stroke-dashoffset: -200;
    transition: all .4s;
}

.github .circle {
    stroke: #8a8a8a
}

.weibo .circle {
    stroke: #d81e06
}

.zhihu .circle {
    stroke: rgb(15, 136, 235)
}

.icon:hover .circle {
    animation: github-circle .5s forwards;
}

.introduction .bottom-tag {
    position: fixed;
    bottom: 15px;
    width: 100%;
    text-align: center;
    color: #434a54;
    text-decoration: none;
}

.introduction .bottom-tag:hover {
    animation: beat 1s;

}

.introduction .bottom-tag:active {
    color: #2196f3;
}

#social-list {
    width: 300px;
    margin: 35px auto;
}

.h-list {
    width: 300px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.h-list div {
    height: 70px;
    width: 70px;
    display: inline-block;
}

.h-list div + div {
    margin-left: 20px;
}

.h-list .icon {
    position: relative;
    height: 100%;
}

.h-list .icon a {
    width: 70px;
    height: 70px;
}

.h-list .icon a svg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 34px;
    height: 34px;
    transform: translateX(-50%) translateY(-50%);
}

@keyframes github-circle {
    from {
        stroke-dasharray: 0 200;
        stroke-dashoffset: -200;
    }
    to {
        stroke-dasharray: 200;
        stroke-dashoffset: 0;
        stroke-width: 1px;

    }
}

@keyframes beat {
    0%, 20%, 53%, 80%, 100% {
        -webkit-animation-timing-function: cubic-bezier(0.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(0.215, .61, .355, 1);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    40%, 43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, .05, .855, .06);
        animation-timing-function: cubic-bezier(0.755, .05, .855, .06);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -10px, 0);
    }

    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, .05, .855, .06);
        animation-timing-function: cubic-bezier(0.755, .05, .855, .06);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -5px, 0);
    }
}