.project {
    /*position: fixed;*/
    background: #f5f5f5;
}

.card-list {
    width: 850px;
    margin: 50px auto;
    height: 1000px;
    transform: translateY(-1px);
}

.project .toolbar {
    background: #03a9f4;
    z-index: 1000;
}

.card-list-wrap {
    width: 100%;
}

.card-list-wrap-wrap {
    width: 100%;
    overflow-y: hidden;
}

.card-wrap {
    position: relative;
    width: 400px;
    height: 300px;
    float: left;
}

.card {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    background: #ffffff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .3);
    overflow: hidden;
}

.card:hover {
    transform: translateY(-52%) translateX(-50%);
    box-shadow: 0 3px 15px rgba(0, 0, 0, .3);
    transition: all .5s linear;
}

.card-wrap:nth-child(n) {
    margin-top: 50px;
}

.card-wrap:nth-child(2n) {
    margin-left: 50px;
}

.card .card-title {
    height: 65px;
    width: 100%;
    line-height: 65px;
    overflow: hidden;
    color: #434a54;
    text-align: left;
    font-size: 20px;

}

.card:after {
    content: "more  >>";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 65px;
    width: 100%;
    text-align: center;
    line-height: 100px;
    color:#434a54;
    background: linear-gradient(to bottom, transparent, #ffffff 60%)
}

.card .card-title p {
    position: relative;
    margin-left: 36px;
}

/*.card .card-title p:before {*/
/*content: '';*/
/*position: absolute;*/
/*left: -26px;*/
/*top: 50%;*/
/*height: 10px;*/
/*width: 10px;*/
/*border-radius: 50%;*/
/*background: #03a9f4;*/
/*transform: translateY(-50%);*/
/*}*/
.card .card-title p:after {
    content: '';
    position: absolute;
    left: -18px;
    bottom: 0;
    margin-right: 25px;
    height: 1px;
    width: 100%;
    background: #BDBDBD;
    opacity: .7;
}

/*old*/
.project .project-list {
    margin-top: 60px;
    height: 448px;
    overflow: hidden;
}

.project .project-list ul {
    /*transform: translateY(-50%);*/
}

.project .metro {
    width: 300px;
    height: 112px;
    margin: auto;
    color: white;
}

.project .metro .metro-content {
    position: relative;
    width: 100%;
    height: 100%;
}

.project li {
    position: relative;
}

.project li:nth-child(n) .metro-content {
    transform: translateX(-300px);
}

.project li:nth-child(2n) .metro-content {
    transform: translateX(300px);
}

.project li:nth-child(n) .metro-content .icon-bg {
    position: absolute;
    width: 112px;
    height: 112px;
    border-radius: 50%;
    left: -150px;
    background: #1874CD;
    opacity: .8;
}

.project li:nth-child(2n) .metro-content .icon-bg {
    left: 350px;
}

.project li .metro-content .icon-bg svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.project li:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid white;
    transform: translateY(-50%) translateX(-50%);
}

.project li:nth-child(n):after {
    content: '';
    position: absolute;
    width: 80px;
    height: 2px;
    top: 50%;
    right: 50%;
    background: white;
    transform: translateX(-50%);
}

.project li:nth-child(2n):after {
    left: 50%;
    transform: translateY(-150%) translateX(50%);
}

.metro div h2 {
    font-size: 20px;
}

.metro div .line {
    width: 100%;
    height: 1px;
    background: white;
    margin: 10px 0;
}

.project .title {

    text-shadow: 1px 2px #5CACEE, 2px 4px #AEEEEE;
}

.content {
    /*display: inline-block;*/
    position: relative;
    line-height: 1.5;
    height: 195px;
    overflow: hidden;
    color: #434a54;
    padding: 20px 20px;
}

/*.content:after {*/
/*content: "...";*/
/*position: absolute;*/
/*bottom: 10px;*/
/*right: 10px;*/
/*padding-left: 40px;*/
/*background: linear-gradient(to right, transparent, #f5f5f5 55%);*/
/*}*/