.work {
    background: #f5f5f5;
}

.work .toolbar {
    background: #009688;
    height: 200px;
}

.work .toolbar .title h2 {
    margin-top: 0;
    height: 200px;
    line-height: 200px;
}

.work .work-content {
    height: 100%;
}

/*.work .work-content .line {*/
/*height: 80%;*/
/*width: 2px;*/
/*margin: 30px auto;*/
/*padding-top: 115px;*/
/*background: #009688;*/
/*}*/
.work .work-content .metro .line {
    position: absolute;
    height: 0;
    width: 2px;
    top: 50%;
    right: -101px;
    background: #009688;
    transform: translateY(5px);
}

.work .work-content .metro:nth-child(2n) .line {
    left: -101px;
}

.work .work-content .start .line {
    height: 0;
    width: 2px;
    margin: auto;
    background: #009688;
    transition: .5s height 2s linear;
    transform: translateY(43px);
}

.work .work-content-animation .start .line {
    height: 60px;
}

.work-content .metro {
    position: absolute;
    width: 230px;
    left: 50%;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: #434a54;
    opacity: 0;
}

.work-content .metro p {
    font-size: 18px;
    line-height: 2.33;
    text-align: center;
}

.work-content .metro p:first-child {
    background: #009688;
    color: #ffffff;
    font-size: 15px;
}

.work-content .metro:nth-child(1) {
    transform: translateX(-330px);
    margin-top: 70px;
    transition: opacity .5s 2.5s linear;
}

.work-content-animation .metro:nth-child(1) {
    opacity: 1;
}

.work-content-animation .metro:nth-child(1) .line {
    height: 60px;
    transition: height .5s 2.5s linear;
}

.work-content .metro:nth-child(1n):after {
    content: '';
    position: absolute;
    right: -4px;
    top: 50%;
    height: 5px;
    width: 5px;
    border-top: solid 5px #ffffff;
    border-right: solid 5px rgba(0, 0, 0, 0);
    box-shadow: 3px 3px 10px -3px rgba(0, 0, 0, 0.3);
    z-index: 5000;
    background: #ffffff;
    transform: translateY(-50%) rotate(-45deg);
}

.work-content .metro:nth-child(2n):after {
    left: -4px;
    transform: translateY(-50%) rotate(-225deg);
}

.work-content .metro:nth-child(n):before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: solid 2px #009688;
    background: #f5f5f5;
    top: 50%;
    right: -100px;
    transform: translateX(50%) translateY(-50%);
}

.work-content .metro:nth-child(2n):before {
    top: 50%;
    left: -100px;
    transform: translateX(-50%) translateY(-50%);
}

.work-content .metro:nth-child(2) {
    transform: translateX(100px);
    margin-top: 140px;
    transition: opacity .5s 3s linear;
}

.work-content-animation .metro:nth-child(2) {
    opacity: 1;
}

.work-content-animation .metro:nth-child(2) .line {
    height: 60px;
    transition: height .5s 3s linear;
}

.work-content .metro:nth-child(3) {
    transform: translateX(-330px);
    margin-top: 210px;
    transition: opacity .5s 3.5s linear;
}

.work-content-animation .metro:nth-child(3) {
    opacity: 1;
}

.work-content-animation .metro:nth-child(3) .line {
    height: 60px;
    transition: height .5s 3.5s linear;
}

.work-content .metro:nth-child(4) {
    transform: translateX(100px);
    margin-top: 280px;
    transition: opacity .5s 4s linear;
}

.work-content-animation .metro:nth-child(4) {
    opacity: 1;
}

.work-content-animation .metro:nth-child(4) .line {
    height: 60px;
    transition: height .5s 4s linear;
}

.work-content .metro:nth-child(5) {
    transform: translateX(-330px);
    margin-top: 350px;
    transition: opacity .5s 4.5s linear;
}

.work-content-animation .metro:nth-child(5) {
    opacity: 1;
}

.work-content-animation .metro:nth-child(5) .line {
    height: 60px;
    transition: height .5s 4.5s linear;
}

.work-content .start {
    position: relative;
    width: 48px;
    height: 48px;
    margin: 30px auto;
}

.work-content .start .icon {
    position: absolute;
    width: 48px;
    height: 48px;
    margin: auto;
}

.work-content .start .icon + .icon {
    bottom: 0;
    overflow: hidden;
}

.work-content-animation .start .icon + .icon {
    height: 0;
    transition: 1s height 1s linear;
}

.work-content .start .icon svg {
    position: absolute;
    bottom: 0;
    width: 48px;
    height: 48px;
}

.work-content .end {
    margin: 420px;
}

.work-content .end .icon {
    position: relative;
    width: 70px;
    text-align: center;
    height: 30px;
    margin: auto;
}

.work-content .end .icon .now {
    position: absolute;
    font-size: 30px;
    height: 30px;
    color: #009688;
    bottom: 0;
}

.work-content .end .icon .now p {
    font-size: 30px;
    height: 30px;
}

.work-content .end .icon .now + .now {
    overflow: hidden;
    color: #f5f5f5;
    height: 30px;
    transition: 1s height 5s linear;
}

.work-content-animation .end .icon .now + .now {
    font-size: 30px;
    height: 0;
}